@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	image-rendering: pixelated;
}

@layer base {
	@font-face {
		font-family: Headlines;
		font-style: normal;
		font-weight: bold;
		src: url('/assets/fonts/charcoal/Charcoal.ttf');
	}

	body {
		image-rendering: pixelated;
	}

	.headline {
		font-family: Headlines;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 98%; /* 11.76px */
		letter-spacing: 0.42px;
	}
<<<<<<< HEAD
=======

	.disable-blur {
		image-rendering: pixelated;
	}
<<<<<<< HEAD

>>>>>>> got store working
=======
>>>>>>> the shit was some bum but it works now
}

@layer utilities {
	.sticky-note-resizable-clip {
		clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 50% 50%);
	}
}
