@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: Headlines;
		font-style: normal;
		font-weight: bold;
		src: url('/assets/fonts/charcoal/Charcoal.ttf');
	}

	body {
		image-rendering: pixelated;
	}

	.headline {
		font-family: Headlines;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 98%; /* 11.76px */
		letter-spacing: 0.42px;
	}

	.active-frame {
		box-shadow:
			0px -1px 0px 0px theme(colors.gray-700),
			-1px 0px 0px 0px theme(colors.gray-700),
			0px 1px 0px 0px theme(colors.primary-white),
			1px 0px 0px 0px theme(colors.primary-white);
	}
}
